body
{
font-family:'Times New Roman', Times, serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
 align-items:center;
 height: 100vh;
 background:#333
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    height: 20px;
    width:20px;
    background: #777;
    margin:0 30px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
ul li:hover{
    background: #86ff3b;
    box-shadow:  0 0 0 4px #333,
                 0 0 0 8px #86ff3b;
}
ul li .content{
position: absolute;
bottom: 40px;
padding-bottom: 0;
width:300px;
background: #fff;
padding:20px ;
box-sizing:border-box ;
border-radius: 4px;
visibility: hidden;
opacity: 0;
transition: 0.5s;
transform: translateX(-50%) translateY(0px);
}
ul li:hover .content{
    visibility: visible;
    opacity:1;
}
ul li .content:before{
    content: '';
    position: absolute;
    width: 30px;
    height:30px;
    bottom:-15px;
    rotate: 45deg;
    left: 144px;
    background-color: #fff;
}
ul li .content{
    margin-left:5px;
    padding:5px;

}